# Data - NEVER push large rasters or databases
*.tif
*.tiff
*.tif.aux
*.gpkg
*.parquet
*.zip
*.xml
data/


# Python environment
__pycache__/
*.py[cod]
venv/
.env

# OS junk
.DS_Store
stl_view_arch.qgz
images/project_overview.docx
images/project_flow.pptx
stlouis_building_dem_synopsis.md
gateway_arch_viewshed_summary.md
